<div class="h-screen flex items-center justify-center">
    <div class="w-96 shadow h-5/6 px-5 py-6 max-h-[800px]">
        <div class="flex items-center justify-between">
            <img src="icons/back-arr.png" class="w-8 cursor-pointer" routerLink="/" alt="">
            <p class="font-medium">Help Center</p>
            <span></span>
        </div>

        <div class="flex flex-col  mt-12">
            <div class="flex items-center justify-between border-b py-4 px-2  hover:bg-gray-100">
                <div class="flex items-center gap-2 cursor-pointer">
                    <div class="bg-blue-300 h-16 w-16 rounded-full flex items-center justify-center">
                        <img src="icons/phone.png" class="w-9" alt="">
                    </div>
                    <p class="text-gray-600 text-sm">App usage problem</p>
                </div>

                <span class="text-gray-400">&gt;</span>
            </div>

            <div class="flex items-center justify-between border-b py-4 px-2 hover:bg-gray-100">
                <div class="flex items-center gap-2 cursor-pointer">
                    <div class="bg-cyan-300 h-16 w-16 rounded-full flex items-center justify-center">
                        <img src="icons/phone.png" class="w-9" alt="">
                    </div>
                    <p class="text-gray-600 text-sm">Features</p>
                </div>

                <span class="text-gray-400">&gt;</span>
            </div>

            <div class="flex items-center justify-between border-b py-4 px-2  hover:bg-gray-100">
                <div class="flex items-center gap-2 cursor-pointer">
                    <div class="bg-violet-300 h-16 w-16 rounded-full flex items-center justify-center">
                        <img src="icons/phone.png" class="w-9" alt="">
                    </div>
                    <p class="text-gray-600 text-sm">Lock installation</p>
                </div>

                <span class="text-gray-400">&gt;</span>
            </div>

            <div class="flex items-center justify-between border-b py-4 px-2  hover:bg-gray-100">
                <div class="flex items-center gap-2 cursor-pointer">
                    <div class="bg-yellow-500 h-16 w-16 rounded-full flex items-center justify-center">
                        <img src="icons/warning.png" class="w-10" alt="">
                    </div>
                    <p class="text-gray-600 text-sm">Normal trouble shooting</p>
                </div>

                <span class="text-gray-400">&gt;</span>
            </div>
        </div>
    </div>
</div>